/* !Momentaneal Changes */
body *{
    height: 100px;
}

footer{
    display: none;
}

main>section{
    border-bottom: 1px solid black;
}










/* * GENERIC STYLE INFORMATIONS */

/* * Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* * Tag HTML */
body{
    font-family: 'Open Sans' , sans-serif;
    font-size: 10px;
}

button{
    border: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}



/* * Classes */

/* ? Containers */
.container{
    margin: 0 auto;
}

.big.container{
    padding: 0 19%;
}

.small.container{
    padding: 0 25%;
}


/* ? Positions and displays */
.flex{
    display: flex;
}

.p_fixed{
    position: fixed
}


/* ? Bg-colors */
.bg-color_turquoise-blue{
    background-color: #b4d0e7;
}

.bg-color_white{
    background-color: white;
}

.bg-color_black{
    background-color: black;
}


/* ? Colors */
.color_white{
    color: white;
}

.color_black{
    color: black;
}



/* * COMBINATIONS */
.color_black a{
    color: black;
}

.color_white a{
    color: white;
}





/* * SPECIFIC STYLE INFORMATIONS */

/* * HEADER */
#main-header{
    height: 3.3em;
}



/* * MAIN */

/* ? Header */
main header{
    height: 29.9em;
}


/* ? Business Plans */
#dropbox_business-plans{
    height: 64em;
}


/* ? Contact Partner Area */
#dropbox_contact-partner-area{
    height: 29.9em;
}


/* ? Operations List */
#dropbox_operations-list{
    height: 53.5em;
}


/* ? Clients Infomations */
#dropbox_clients-informations{
    height: 60em;
}


/* ? Frequent Questions Area */
#dropbox_frequent-questions-area{
    height: 23.1em;
}



/* * FOOTER */
footer{
    height: 25em;
}