/* !Momentaneal Changes */
body *{
    height: 100px;
}










/* * GENERIC STYLE INFORMATIONS */

/* ? Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ? Tag HTML */
body{
    font-family: 'Open Sans' , sans-serif;
}

button{
    border: none;
}

a{
    text-decoration: none;
}



/* ? Classes */

/* Containers */
.container{
    margin: 0 auto;
}

.big-container{
    width: 80%;
}

.small-container{
    width: 70%;
}

/* Positions and displays */
.flex{
    display: flex;
}

.p_fixed{
    position: fixed
}


/* Bg-colors */
.bg-color_turquoise-blue{
    background-color: #b4d0e7;
}

.bg-color_white{
    background-color: white;
}

.bg-color_black{
    background-color: black;
}


/* Colors */
.color_white{
    color: white;
}