/* * GENERIC STYLE INFORMATIONS */

/* * Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* * Tag HTML */
body{
    font-family: 'Open Sans' , sans-serif;
    font-size: 8px;
}

button{
    border: none;
    font-size: 1em;
    cursor: pointer;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    width: 100%;
    height: 100%;
}

input[type='radio']{
    vertical-align: middle;
}

hr{
    width: 20%;
    color: rgb(226, 224, 224);
    margin:3em 0;
}



/* * Classes */

/* ? Containers */
.container{
    margin: 0 auto;
    padding-left: 24%;
    padding-right: 24%;
}

.big.container{
    padding-left: 19%;
    padding-right: 19%;
}


/* ? Positions and displays */
.d_none{
    display: none;
}

.flex{
    display: flex;
}

.flex.space-between{
    justify-content: space-between;
    align-items: center;
}

.flex.centered{
    justify-content: center;
    align-items: center;
}

.p_fixed{
    position: fixed
}


/* ? Bg-colors */
.bg-color_turquoise-blue{
    background-color: #b4d0e7;
}

.bg-color_white{
    background-color: white;
}

.bg-color_black{
    background-color: black;
}

.bg-color_blue{
    background-color: #0061ff;
}

.bg-color_green{
    background-color: #a2d39b;
}

.bg-color_dark-red{
    background-color: #61082b;
}

.bg-color_heavenly{
    background-color: #0093ce;
}

.bg-color_red{
    background-color: #ff1c1c;
}

.bg-color_light-grey{
    background-color: #f5f5f5;
}

.bg-color_fire-brick{
    background-color: #d5001f;
}

.bg-color_dark-blue{
    background-color: #0d2481;
}

.bg-color_yellow{
    background-color: #ffd830;
}


/* ? Colors */
.color_white{
    color: white;
}

.color_black{
    color: black;
}

.color_dark-red{
    color: #61082b;
}

.color_light-grey{
    color: rgb(175, 175, 175);
}


/* ? Other */
.title{
    font-size: 2.5em;
    padding-bottom: 1.5em;
    font-weight: 700;
}

.small.title{
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.subtitle{
    font-weight: 700;
}

.underline{
    text-decoration: underline;
}

.icon.fa-angle-up,
.icon.fa-angle-down{
    cursor: pointer;
}



/* * COMBINATIONS */
.color_black a{
    color: black;
}

.color_white a{
    color: white;
}

.color_white a:active{
    font-weight: 700;
}

.color_black a:active{
    color: red;
    text-decoration: none;
}

a.color_blue{
    color: blue;
}

button.bg-color_white{
    border: 1px solid black;
}

button.bg-color_blue:hover{
    filter:saturate(90%);
}

button.bg-color_blue:active{
    filter: saturate(60%);
}

button.bg-color_white:hover{
    font-weight: 700;
}

button.bg-color_white:active{
    background-color: lightgrey;
}

.icon.d_none{
    display: none;
}

.icon.d_inline-block:active{
    display: none;
}

.icon.d_inline-block:active + .icon.d_none{
    display: inline-block;
}





/* * SPECIFIC STYLE INFORMATIONS */

/* * Header */
#main-header{
    height: 5em;
    width: 100%;
}

#main-header.p_fixed{
    opacity: 0.8;
}

#main-header nav{
    height: 100%;
    padding:0 1em;
}

#main-header ul{
    width: 21em;
}


/* ? Left Content */
#main-header .logo-container{
    height: 1.3em;
    padding-right: 2em;
    cursor: pointer;
}


/* ? Right Content */
#main-header .right-content button{
    margin-left: 2em;
    padding: 0.5em 1em;
}



/* * Main */
#main-header.p_fixed + main{
    padding-top: 5em;
}
main>section:not(#dropbox_clients){
    padding-top: 9em;
}

main>section:last-of-type{
    padding-bottom: 9em;
}

main .flex.columns{
    flex-wrap: wrap;
}

main .flex.columns .column{
    width: calc(100%/3 - 2em);
    margin-bottom: 2em;
}

/* ? Header */
main>header{
    height: 42.5em;
}

/* Title */
main>header .title{
    font-size: 4.6em;
    font-weight: 800;
    padding-top: 1em;
    padding-bottom: 0.7em;
}

/* Content */
main>header .content .img-container{
    width: 245em;
    height: 27em;
}

main>header .text-content button{
    margin: 1.2em 0;
    padding: 0.7em 1em;
}

main>header .text-content .icon{
    font-size: 3em;
    padding-top: 1.2em;
}


/* ? Business Plans */
#dropbox_business-plans .plan-description header span{
    display: block;
}

#dropbox_business-plans button{
    display: block;
    width: 100%;
    padding: 0.7em 0;
    margin: 1.5em 0;
}

#dropbox_business-plans .radio-btns-container input:last-of-type{
    margin-left: 2.5em;
}

#dropbox_business-plans .columns .column:last-of-type{
    width: 100%;
}

#dropbox_business-plans .columns{
    margin-top: 3em;
}

#dropbox_business-plans .columns .column{
    border: 1px solid lightgrey;
    height: 60em;
}

#dropbox_business-plans .column:last-of-type{
    height: 20em;
}

#dropbox_business-plans .column:last-of-type span{
    display: block;
}

#dropbox_business-plans .column:last-of-type button{
    width: 30%;
}

#dropbox_business-plans .column:last-of-type .subtitle{
    padding-bottom: 2.5em;
}

/* Client Type */
#dropbox_business-plans .client-type{
    border-bottom: 1px solid lightgrey;
    padding: 0.7em 0;
    text-align: center;
}

/* Plan Description */
#dropbox_business-plans .column .plan-description{
    padding-left: 2em;
    padding-right: 2em;
    margin: 0 auto;
}

#dropbox_business-plans .column:last-of-type .plan-description.flex{
    align-items: flex-start;
}

#dropbox_business-plans .plan-description ul li,
#dropbox_business-plans .plan-description span{
    padding: 0.5em 0;
}

#dropbox_business-plans .plan-description  header,
#dropbox_business-plans .plan-description .text-content,
#dropbox_business-plans .plan-description .buy-now-link{
    padding-top: 1.5em;
}

/* PLAN INFO */
#dropbox_business-plans .plan-info .buy-now-link{
    padding-bottom: 1.5em;
}

#dropbox_business-plans .plan-info .buy-now-link span{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1.5em;
}

/* PLAN ADVANTAGES */
#dropbox_business-plans .plan-advantages ul li::before{
    content: '\2713';
    color: blue;
    font-weight: 800;
    padding-right: 0.5em;
}


/* ? Contact Partner Area */
#dropbox_contact-partner-area h2{
    padding-bottom: 0.5em;
}

#dropbox_contact-partner-area .text-content{
    padding: 3em 0 0 3em;
}

#dropbox_contact-partner-area .text-content button{
    padding: 0.7em 1em;
    margin-top: 2em;
}

#dropbox_contact-partner-area .img-container{
    height: 30em;
    width: 130em;
}


/* ? Operations */
#dropbox_operations h2{
    padding-bottom: 1em;
}


/* ? Clients */

/* Text Content */
#dropbox_clients>.text-content{
    padding-bottom: 6.6em;
    padding-top: 6.6em;
}

#dropbox_clients>.text-content.flex.space-between{
    align-items: flex-start;
}

#dropbox_clients>.text-content.flex.space-between .title{
    padding-bottom: 0;
}

#dropbox_clients button{
    padding: 0.5em 3em;
    border: none;
}

/* Companies Container */
#dropbox_companies-container .companies-container{
    width: calc(100vw/3);
    height: calc(100vw/3);
}

#dropbox_companies-container .companies-container.flex{
    flex-wrap: wrap;
}

#dropbox_companies-container .company{
    height: 50%;
    width: 50%;
    cursor: pointer;
}

#dropbox_companies-container .company:hover{
    filter: contrast(80%);
}

#dropbox_companies-container .company:active:not(.company.active){
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
}

#dropbox_companies-container .company.active{
    border: 1em solid;
}

#dropbox_companies-container .company.active.bg-color_green{
    border-color: #d1e9cd;
}

#dropbox_companies-container .company img{  
    filter: invert(100%);
    width: 50%;
    height: 50%;
}

#dropbox_companies-container .company img.low-height{  
    height: 10%;
}

#dropbox_companies-container article.companies-container{
    padding: 3em;
}

#dropbox_companies-container article.companies-container header.img-container{
    width: 50%;
}

#dropbox_companies-container article.companies-container .text-content p{
    margin-bottom: 3em;
}


/* ? Frequent Questions Area */
#dropbox_questions .question{
    font-weight: 700;
    border-collapse: collapse;
    padding: 2em 0;
    border-top: 1px solid lightgrey;
}

#dropbox_questions .question:last-of-type{
    border-bottom: 1px solid lightgrey;
}

#dropbox_questions .question .icon{
    padding-right: 3em;
}



/* * Footer */
footer.flex{
    flex-direction: column;
    justify-content: space-between;
}


/* ? Navbar */
footer nav{
    padding: 5.5em 0;
}

footer nav.flex.column{
    flex-wrap: nowrap;
}

footer nav.flex.columns .column{
    width: calc(100%/5 - 3em);
    margin-bottom: 0;
    line-height: 2.5em;
}


/* ? Language Selection */
#language-selection{
    display: inline-block;
    padding: 3.3em 0;
    border-top: 1px solid grey;
}

#language-selection .fa-angle-up.icon{
    vertical-align: bottom;
}









/* * RESPONSIVENESS PART  */
@media screen and (min-width: 1430px){
    body{
        font-size: 14px;
    }
}



@media screen and (max-width: 830px){
    body{
        font-size: 5px;
    }
}

@media screen and (max-width: 500px) {
    body{
        font-size: 2px;
    }
}